<!-- Change password card-->
<div class="card mb-4">
    <div class="card-header">Change Password</div>
    <div class="card-body p-5" >
        <form>
            <!-- Form Group (current password)-->
            <div class="mb-3">
                <label class="medium mb-3 bold" for="currentPassword">Current Password</label>
                <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
            </div>
            <!-- Form Group (new password)-->
            <div class="mb-3">
                <label class="medium mb-3 bold" for="newPassword">New Password</label>
                <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
            </div>
            <!-- Form Group (confirm password)-->
            <div class="mb-3">
                <label class="medium mb-3 bold" for="confirmPassword">Confirm Password</label>
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
            </div>
            <button style="margin-top: 3%;" class="btn btn-theme" type="button">Save</button>
        </form>
    </div>
</div>