<br><br><br>

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold" style="color: #019fe0;">Place Orders</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome to Angel Life Pharmacists!</h6>
                                <p class="text-muted mt-2 mb-5">Register with us today and get orders delivered to your doorstep.</p>

                                <form #form="ngForm">
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputFirstName">Email</label>
                                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your Email Address" name="email" required>
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputLastName">Name</label>
                                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your Name" name="fname" required>
                                        </div>
                                    </div>
                                    <!-- Form Row        -->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (organization name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputOrgName">Contact Number</label>
                                            <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your Contact Number" name="phone" required>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputEmailAddress">Payment Type</label>
                                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Select Payment Type" name="cash" required>
                                        </div>
                                    </div>
                                    <!-- Save changes button-->
                                    <button style="margin-top: 3%;" class="btn btn-theme" type="button">Confirm Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <app-success *ngIf="postSuccess" [success]="postSuccessMessage" (Event)="closeWindow($event)"></app-success>
                    <app-error *ngIf="postError" [error]="postErrorMessage" (Event)="closeWindow($event)"></app-error> -->
                </div>                
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Already have an account? <a href="register.html" class="text-primary ml-1" routerLink="/login">Login</a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
<br>