.account-block {
    padding: 0;
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #019fe0 !important;
}

.btn-theme {
    background-color: #019fe0;
    border-color: #019fe0;
    color: #fff;
    transition: 0.3s;
}

.btn-theme:hover {
    background-color: #0d6afa;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.bold {
    font-weight: 500;
}


/* SEARCH BOX */

.search {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    border: none;
    border-radius: 30px;
    float: left;
  }
  
  .search:focus {
    outline: none;
  }
  
  img {
    height: 20px;
    width: 20px;
    border: none;
    background-color: #fff;
  }
  
  .img-btn {
    height: 40px;
    border: none;
    background-color: #fff;
    margin-right: 5%;
  }
  
  .search-form {
    height: 45px;
    display: flex;
    align-items: center;
    border: 1px solid #DDE2E8;
    border-radius: 5px;
    min-width: 290px;
    width: 40%;
    margin-bottom: 40px;
  }
  
  .search-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
  }



  /* Button */

  .form-button {
    width: 200px;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    min-width: 200px;
    background-color: #019fe0;
    border-color: #019fe0;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.84px;
    min-width: 140px;
    margin: 5px;
  }

  .form-button:hover {
    background-color: #0d6afa;
  }

  .disabled {
    opacity: 0.7;
    pointer-events: none;
    z-index: 0;
  }
  
  .red {
    background-color: #e62154;
    border: 1px solid #e62154;
  }

  .red:hover {
    background-color: #f70042;
    border: 1px solid #f70042;
  }