.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}







.account-block {
    padding: 0;
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #019fe0 !important;
}

.btn-theme {
    background-color: #019fe0;
    border-color: #019fe0;
    color: #fff;
    transition: 0.3s;
}

.btn-theme:hover {
    background-color: #0d6afa;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.bold {
    font-weight: 500;
}

/* profile */

.profile-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .inner-profile-div {
    height: 180px;
    width: 180px;
  }

.profile-img {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 100px;
  }



/* Edit Link */

.edit-link {
    text-align: center;
    height: fit-content;
    color: #0038FF;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #0038FF;
  }

  .edit-link:hover {
    color: #001aff;
    border: 1px solid #001aff;
  }
  
  #file_input_id{
    display:none;
  }