<div class="parent-container">
  <div id="container-new">
    <header>
      <nav class="navbar">
        <div style="margin: 0; padding: 0;">
          <a style="height: 60px" class="navbar-brand" href="#">
            <img style="height: 100%;" src="../assets/angel2.svg" width="250px" alt="">
          </a>
        </div>
        <a style="margin-top: 18px;" class="toggle-button" (click)="clickEvent()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>

        <div class="navbar-links" [ngClass]="{'active': isShowDiv}">
          <ul>
            <li routerLink="/home" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}"><a>Home</a></li>
            <li *ngIf="isCustomer" routerLink="/place-order" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}"><a>Place Order</a></li>
            <li *ngIf="isStaff || isCustomer" routerLink="/customer/orders" routerLinkActive="navbar-links-active"><a>Orders</a></li>
            <li *ngIf="isStaff" routerLink="/employee" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}" ><a>Employee</a></li>
            <li *ngIf="isStaff" routerLink="/customer" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}" ><a>Customer</a></li>
            <li  routerLink="/room" routerLinkActive="navbar-links-active"><a>Live Chat</a></li>
            <li *ngIf="isStaff || isCustomer" routerLink="/profile" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}"><a>Profile</a></li>
            <li *ngIf="!isStaff && !isCustomer" routerLink="/login" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact:true}"><a>Login</a></li>
          </ul>
        </div>
      </nav>
    </header> 
    

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <footer>
        <div class=”footer-content”>
          <h3>Angel Life Pharmacists</h3>
          <p class="footer-p">Always laugh when you can. It is a cheap medicine</p>
          <div style="margin-bottom: 0.5%;" *ngIf="isStaff || isCustomer">
            <a class="link link-logout" (click)="logout()">Logout</a>
          </div>
        </div>  

      <div class=”footer-bottom”>
        <p>copyright &copy;2023 <a href=”#”></a>  </p>
      </div>
    </footer>
  </div>
</div>