<!-- <div style="width: 100%; height: 8vh; background-color: rgb(215, 240, 240); display: flex; flex-direction: row;">
  <div style="width: 10%; height: 100%; display: flex; justify-content: left; background-color: blueviolet;">
    <img style="height: 100%; margin:auto ;" src="../assets/med.svg">
  </div>
  <div style="width: 90%; height: 100%; display: flex; flex-direction: row; justify-content: right; background-color: rgb(127, 111, 141);">
    <ul style="display: flex; flex-direction: row;">
      <li style="width: 10%;"><a>Home</a></li>
      <li style="width: 10%;"><a>Home</a></li>
      <li style="width: 10%;"><a>Home</a></li>
      <li style="width: 10%;"><a>Home</a></li>
      <li style="width: 10%;"><a>Home</a></li>
    </ul>
  </div>
</div> -->
<!-- #019fe0 -->


<div class="parent-container">
  <div id="container-new">
    <header>
      <nav class="navbar">
        <div style="margin: 0; padding: 0;">
          <a style="height: 60px" class="navbar-brand" href="#">
            <img style="height: 100%;" src="../assets/angel2.svg" width="250px" alt="">
          </a>
        </div>
        <a style="margin-top: 18px;" class="toggle-button" (click)="clickEvent()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>

        <div class="navbar-links" [ngClass]="{'active': isShowDiv}">
          <ul>
            <li routerLink="/home"><a>Home</a></li>
            <li routerLink="/customer/orders"><a>Orders</a></li>
            <li routerLink="/employee"><a>Employee</a></li>
            <li routerLink="/customer"><a>Customer</a></li>
            <li routerLink="/chat"><a>Live Chat</a></li>
            <li routerLink="/profile"><a>Profile</a></li>
            <!-- <li><a>Contact Us</a></li> -->
            <li routerLink="/login"><a>Login</a></li>
          </ul>
        </div>
      </nav>
    </header> 
    

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <footer>
        <div class=”footer-content”>
          <h3>Angel Life Pharmacists</h3>
          <p class="footer-p">Always laugh when you can. It is a cheap medicine</p>
          <div style="margin-bottom: 0.5%;">
            <a class="link link-logout">Logout</a>
          </div>
        </div>  

      <div class=”footer-bottom”>
        <p>copyright &copy;2023 <a href=”#”></a>  </p>
      </div>
    </footer>
  </div>
</div>