<div style="display: flex; justify-content: center;">
    <div class="col-md-6">        
        <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">                                 
            <div class="noty_bar noty_type__success noty_theme__unify--v1 g-mb-25">                              
                <div class="noty_body">                    
                    <div style="display: flex; align-items: baseline; width: 100%;">
                        <div style="display: flex; width: 95%;">
                            {{success}}                 
                        </div>
                        <div style="text-align: right; display: flex;">
                            <button type="button" data-dismiss="alert" aria-hidden="true" style="color: white;" class="close" (click)="EventClose()">×</button>
                        </div>                             
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>