<br><br><br>

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold" style="color: #019fe0;">Customer Registration</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome to Angel Life Pharmacists!</h6>
                                <p class="text-muted mt-2 mb-5">Register with us today and get orders delivered to your doorstep.</p>

                                <form #form="ngForm">
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputFirstName">First name</label>
                                            <input class="form-control" id="inputFirstName" type="text" name="fname" placeholder="Enter your first name" required [(ngModel)]="customerForm.first_name">
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputLastName">Last name</label>
                                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" name="lname" required [(ngModel)]="customerForm.last_name">
                                        </div>
                                    </div>
                                    <!-- Form Row        -->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (organization name)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputOrgName">NIC</label>
                                            <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your nic number" name="nic" required [(ngModel)]="customerForm.nic">
                                        </div>
                                        <!-- Form Group (location)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputLocation">Date of Birth</label>
                                            <input class="form-control" id="inputLocation" type="date" name="dob" required [(ngModel)]="customerForm.dob">
                                        </div>
                                    </div>
                                    <!-- Form Group (email address)-->
                                    <div class="mb-3">
                                        <label class="medium mb-3 bold" for="inputEmailAddress">Email address</label>
                                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" name="emai;" required [(ngModel)]="customerForm.email">
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (phone number)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputPhone">Phone number</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" name="phone" required [(ngModel)]="customerForm.mobile_no">
                                        </div>
                                        <!-- Form Group (birthday)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputBirthday">Address</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your address" name="address" required [(ngModel)]="customerForm.address">
                                        </div>
                                    </div>
                                    <!-- Form Row        -->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (password)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputOrgName">Password</label>
                                            <input class="form-control" id="inputOrgName" autocomplete="new-password" type="password" placeholder="*******" name="password" required [(ngModel)]="customerForm.password">
                                        </div>
                                        <!-- Form Group (confirm password)-->
                                        <div class="col-md-6">
                                            <label class="medium mb-3 bold" for="inputLocation">Confirm Password</label>
                                            <input class="form-control" id="inputLocation" autocomplete="new-password" type="password" placeholder="*******" name="confirm" required [(ngModel)]="confirmPassword">
                                        </div>
                                    </div>
                                    <!-- Save changes button-->
                                    <button style="margin-top: 3%;" class="btn btn-theme" type="button" (click)="registerCustomer(form)">Complete Registration</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <app-success *ngIf="postSuccess" [success]="postSuccessMessage" (Event)="closeWindow($event)"></app-success>
                    <app-error *ngIf="postError" [error]="postErrorMessage" (Event)="closeWindow($event)"></app-error>
                </div>                
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Already have an account? <a href="register.html" class="text-primary ml-1" routerLink="/login">Login</a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
<br>