<div class="container-fluid">

    <div class="container">
      <!-- Order Navigation -->
      <nav class="nav nav-borders" style="margin-top: 3%;">
        <a class="nav-link ms-0" [ngClass]="{'active': component === 'all'}" id="detail" (click)="showAll()">All Orders</a>
        <a class="nav-link ms-0" >Pending Orders</a>
        <a class="nav-link ms-0" >Accepted Orders</a>
        <a class="nav-link ms-0" >Completed Orders</a>
        <a class="nav-link ms-0" >Cancelled Orders</a>
      </nav>
      <hr class="mt-0 mb-4">
      <!-- Main content --> 
      <form class="search-form" #search="ngForm">
        <input class="search" type="text" name="search-customer" placeholder="Search Order Id" required [(ngModel)]="searchedOrderId">
        <button class="img-btn" type="submit"><img src="./../../assets/icon.svg">  </button>
      </form>
      <app-all-orders [orderId]="searchedOrderId"></app-all-orders>      
  </div>
</div>