<div class="container-fluid">

    <div class="container">
      <!-- Order Navigation -->
      <nav class="nav nav-borders" style="margin-top: 3%;">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
      </nav>
      <hr class="mt-0 mb-4">
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-12">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="me-3"> #16123222 </span>
                  <span class="me-3"> 22/11/2021</span>                  
                  <span class="me-3"> Approved</span>
                </div>
                <div class="d-flex">
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text" routerLink="/customer/order/id">Invoice</span></button>
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div style="display: flex;">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Order No.</td>
                      <td class="text-end">#16123222</td>
                    </tr>
                    <tr>                    
                      <td>Date</td>
                      <td class="text-end">22/11/2021</td>
                      <td>Name</td>
                      <td class="text-end">Dinil</td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-lg-6">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td class="text-end">Dinil</td>
                      </tr>
                      <tr>                    
                        <td>Contacy Number</td>
                        <td class="text-end">0783323261</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>