<div class="form-container-no">
    <div style="display: flex; justify-content: center; height: fit-content;">
      <img style="width: 30%; height: auto;" src="./../../../assets/no-food.png" alt="no-orders">
    </div>
    <h3  *ngIf="detail != 'detail'" style="height: fit-content; margin-top: 30px; font-weight: 600; font-size: 18px;">No Orders At the Moment!</h3>
    <h3  *ngIf="detail == 'detail'" style="height: fit-content; margin-top: 30px; font-weight: 600; font-size: 18px;">No Items At the moment!</h3>
  </div>