 
  .form-container-no {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 8px;
    width: 100%;
    padding: 30px 30px 30px 30px;
    margin-bottom: 40px;
  }