<div class="container-fluid">

    <div class="container" style="margin-top: 2%;">
      <div style="display: flex; justify-content: right; margin-bottom: 2%;">
        <div class="d-flex" style="margin: 5px 0px;">
          <div class="text-left text-sm-right"><a class="btn btn-outline-primary btn-rounded btn-sm" data-toggle="modal" data-target="#orderDetails" routerLink="/customer/order/{{order.id}}" (click)="back()" >Back to Orders</a></div>
        </div>
      </div>      
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4" *ngIf="!editItem && !add">
            <div class="card-body">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Order Details</h3>
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <div  style="margin-left: 1.3%;">
                  <span class="me-3" style="margin-right: 20px; font: 18px; font-weight: 700;">Order - #{{order.id}}</span>
                  <span *ngIf="order.status == 'pending'" class="badge rounded-pill" style="color: white; background-color: #fc9700; padding: 8px 10px; margin: 5px 0px;">Pending</span>
                  <span *ngIf="order.status == 'accepted'" class="badge rounded-pill" style="color: white; background-color: #019fe0; padding: 8px 10px; margin: 5px 0px;">Accepted</span>
                  <span *ngIf="order.status == 'completed'" class="badge rounded-pill" style="color: white; background-color: #60c060; padding: 8px 10px; margin: 5px 0px;">Completed</span>
                  <span *ngIf="order.status == 'rejected'" class="badge rounded-pill" style="color: white; background-color: #da4932; padding: 8px 10px; margin: 5px 0px;">Rejected</span>
                  <span *ngIf="order.status == 'cancelled'" class="badge rounded-pill" style="color: white; background-color: #da4932; padding: 8px 10px; margin: 5px 0px;">Cancelled</span>
                </div>
                <!-- <div class="d-flex">                  
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div> -->
                <label *ngIf="!EditStatus && order.status=='accepted' && order.products.length != 0 && userType != 'customer'" for="file_input_id" class="edit-link" (click)="editToggle()">Edit Order</label>
              </div>              
              <label style="margin-left: 1.5%;" *ngIf="!EditStatus && order.status=='accepted' && userType != 'customer'" for="file_input_id" class="edit-link" (click)="addItemToggle()">Add Item</label>
              <app-no-orders *ngIf="order.products.length == 0" [detail]="orderDetail"></app-no-orders>
              <table class="table table-borderless" *ngIf="order.products.length != 0">
                <tbody>
                  <tr *ngFor="let item of order.products">
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a class="text-reset" style="font-size: 18px;">{{item.item_name}}</a></h6>
                          <span class="small">{{item.brand | titlecase}}</span>
                        </div>
                      </div>
                    </td>
                    <td></td>
                    <td class="text-end" style="text-align: right;">Rs.{{item.product_total}}</td>
                    <td *ngIf="EditStatus && order.status != 'rejected'">
                      <img style="height: 15px; cursor: pointer;" class="quantity-img" (click)="editExisting(item.id)" src="../../../assets/edit.svg">
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end" style="text-align: right;">Rs.{{order.total}}</td>
                  </tr>
                </tfoot>
              </table>
              <button *ngIf="order.status == 'accepted' && !EditStatus && order.products.length != 0 && userType != 'customer'" class="btn form-button green" type="button" (click)="completeStatus()">Complete Order</button>
              <div style=" height: fit-content; display: flex; justify-content: left; flex-direction: row; margin-top: 5%;  align-items: center; width: 100%; flex-wrap:wrap;">
                <button *ngIf="EditStatus && order.status != 'rejected'" class="btn form-button red" type="button" (click)="editToggle()">Cancel</button>                
            </div>
            </div>            
          </div>

          <!-- Add Items -->
          <div class="card mb-4" *ngIf="add">
            <div class="card-body">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Add New Item</h3>
              </div>
              <form #form="ngForm" style="margin: 0% 1.1%;">
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <label class="medium mb-3 bold" for="inputFirstName">Item name</label>
                        <input class="form-control" id="inputFirstName" type="text" name="itemname" placeholder="Enter item name" required [(ngModel)]="addForm.item_name">
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="medium mb-3 bold" for="inputLastName">Item Brand</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter item brand" name="brand" required [(ngModel)]="addForm.brand">
                    </div>
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6" style="margin-bottom: 10px;">
                      <label class="medium mb-3 bold" for="inputFirstName">Item Price</label>
                      <input class="form-control" id="inputFirstName" type="text" name="price" placeholder="Enter item price" required [(ngModel)]="addForm.product_total">
                  </div>
              </div>
              </form>
              <div style=" height: fit-content; display: flex; justify-content: space-between; flex-direction: row; margin-top: 5%;  align-items: center; width: 100%; flex-wrap:wrap;">
                <button  class="btn form-button" type="button" (click)="addItem()">Update Order</button>
                <button  class="btn form-button red" type="button" (click)="addItemToggle()">Cancel</button>                
            </div>
            </div>            
          </div>


          <!-- Edit Items -->
          <div class="card mb-4" *ngIf="editItem">
            <div class="card-body">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Edit Item</h3>
              </div>
              <div style="display: flex; justify-content: right; margin: 5px; cursor: pointer;" (click)="deleteItem(editForm.id)">
                <p class="red-remove">Remove Item</p>
                <img style="height: 18px; width: 18px;" src="../../assets/remove.svg">
              </div>
              <form #form="ngForm" style="margin: 0% 1.1%;">
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <label class="medium mb-3 bold" for="inputFirstName">Item name</label>
                        <input class="form-control" id="inputFirstName" type="text" name="edititemname" placeholder="Enter item name" required [(ngModel)]="editForm.item_name">
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="medium mb-3 bold" for="inputLastName">Item Brand</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter item brand" name="editbrand" required [(ngModel)]="editForm.brand">
                    </div>
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6" style="margin-bottom: 10px;">
                      <label class="medium mb-3 bold" for="inputFirstName">Item Price</label>
                      <input class="form-control" id="inputFirstName" type="text" name="editprice" placeholder="Enter item price" required [(ngModel)]="editForm.product_total">
                  </div>
              </div>
              </form>
              <div style=" height: fit-content; display: flex; justify-content: space-between; flex-direction: row; margin-top: 5%;  align-items: center; width: 100%; flex-wrap:wrap;">
                <button  class="btn form-button" type="button" (click)="editUpdate(editForm.id)">Update Order</button>
                <button  class="btn form-button red" type="button" (click)="editItemMethodFalse()" (click)="editToggle()">Cancel</button>                
            </div>
            </div>            
          </div>





          <!-- Customer -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Customer Details</h3>
              </div>
              <div class="row" style="margin: 0.1%;">
                <div class="col-lg-6">
                  <h3 class="h6"><strong>Customer</strong></h3>
                  <p>Name: {{customer.first_name}}<br>       
                  <abbr title="email"></abbr> Email : {{customer.email}}<br>           
                  <abbr title="mobile"></abbr> Contact: {{customer.mobile_no}}<br>
                  <abbr title="payment"></abbr> Payment Type: {{order.payment_type | titlecase}}
                </div>
                <div class="col-lg-6">
                  <h3 class="h6"><strong>Address</strong></h3>                  
                  <address>
                    
                    {{customer.address}}<br>                    
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Prescription -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Prescription</h3>
              </div>
              <img style="width: 100%;" [src]="order.url">
              <div style=" height: fit-content; display: flex; justify-content: left; flex-direction: row; margin-top: 5%;  width: 100%;" *ngIf="order.status == 'pending' && userType != 'customer'">
                <button class="btn form-button" type="button" (click)="acceptStatus()">Approve Order</button>
            </div> 
            </div>
          </div>
        </div>
    </div>
    <!-- reject reason -->
    <div class="card mb-4" *ngIf="userType != 'customer' && (order.status == 'pending' || order.status == 'accepted')">
      <div class="card-body">
        <div class="mb-4">
          <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Reject Order</h3>
        </div>
        <div class="row" style="margin: 0.1%;">
          <div class="col-lg-6">
              <select class="form-control" required name="customer-access" name="reject" [(ngModel)]="reason_reject">
                  <option value="" disabled selected>Select reason</option>
                  <option value="unclear prescription image">Unclear Prescription Image</option>
                  <option value="suspicious prescription">Suspicious Prescription</option>
                  <option value="requested drugs unavailable">Requested Drugs Unavailable</option>
              </select><br>
              <button style="margin-left: 0px;" class="btn form-button red" type="button" (click)="rejectStatus()" [ngClass]="{'disabled': !reject }">Reject Order</button>
          </div>
        </div>
      </div>
    </div>
    <!-- rejected reason-->
    <div class="card mb-4" *ngIf="order.status == 'rejected'">
      <div class="card-body">
        <div class="mb-4">
          <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Order Rejected Reason</h3>
        </div>
        <div class="row" style="margin: 0.1%;">
          <div class="col-lg-6">
              <select class="form-control" readonly required name="customer-access" name="reject" [(ngModel)]="order.rejected_reasons">
                  <option value="" disabled selected>Select reason</option>
                  <option value="unclear prescription image">Unclear Prescription Image</option>
                  <option value="suspicious prescription">Suspicious Prescription</option>
                  <option value="requested drugs unavailable">Requested Drugs Unavailable</option>
              </select><br>
          </div>
        </div>
      </div>
    </div>

    <!-- cancel -->
    <div class="card mb-4" *ngIf="userType == 'customer' && order.status == 'pending'">
      <div class="card-body">
        <div class="mb-4">
          <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Cancel Order</h3>
        </div>
        <div class="row" style="margin: 0.1%;">
          <div class="col-lg-6">
              <select class="form-control" required name="customer-access" name="reject" [(ngModel)]="reason_reject">
                  <option value="" disabled selected>Select reason</option>
                  <option value="unclear prescription image">Invalid Prescription</option>
                  <option value="suspicious prescription">Invalid Details</option>
                  <option value="n/a">N/A</option>
              </select><br>
              <button style="margin-left: 0px;" class="btn form-button red" type="button" (click)="cancelStatus()" [ngClass]="{'disabled': !reject }">Cancel Order</button>
          </div>
        </div>
      </div>
    </div>

    <!-- cancelled reason -->
    <div class="card mb-4" *ngIf="order.status == 'cancelled'">
      <div class="card-body">
        <div class="mb-4">
          <h3 class="h4 font-weight-bold text-theme" style="margin-left: 1.3%;">Order Cancelled Reason</h3>
        </div>
        <div class="row" style="margin: 0.1%;">
          <div class="col-lg-6">
              <select readonly class="form-control" required name="customer-access" name="reject" [(ngModel)]="order.rejected_reasons">
                  <option value="" disabled selected>Select reason</option>
                  <option value="unclear prescription image">Invalid Prescription</option>
                  <option value="suspicious prescription">Invalid Details</option>
                  <option value="n/a">N/A</option>
              </select><br>
          </div>
        </div>
      </div>
    </div>
  </div>
    <app-success *ngIf="postSuccess" [success]="postSuccessMessage" (Event)="closeWindow($event)"></app-success>
    <app-error *ngIf="postError" [error]="postErrorMessage" (Event)="closeWindow($event)"></app-error>
</div>